<% layout("/layouts/boilerplate") %>

    <body>
        <h1> Your Are At HomePage </h1>
        <p> &#128077; &#128077; <u> Please Visit <b style="color: red;"> Explore </b> Button Above!</u> &#128077;
            &#128077;</p>
    </body>