.navbar{
    height:5rem;
    background-color: white;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration:none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration:underline;
}

.f-info-links{
    width:100%;
}

.f-info-socials{
    margin-top: 4px;
    width: 100%;
    font-size: 1.7rem;
}

.f-info-socials i{
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    background-color: #ebebeb;
    height: 7rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    display: flex;
  justify-content: center;
    border:none !important;
    box-shadow: none !important;
}

.card{
    box-shadow: .1rem .2rem .3rem grey;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-img-topp{
    border-radius: 0.3rem !important;
    width:100% !important;
    height:100% !important;
    object-fit: cover !important;
}
.center{
  display: flex;
  justify-content: center;
  padding-right: 120px !important
}

.card body{
    padding:0 !important;
}


.card-text {
    font-weight:400;
}

.show-img{
    height:30vh;
}